body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
    padding:0;
    margin: 0;
    height: 100vh;

}

#title-area {
    background-color: aqua;
    grid-column: 1 / 4;
}

#alarm-area {
    background-color: blue;
    grid-column: 1 / 4;
    grid-row: 2 / 4;
}

#clock-holder {
    background-color: red;
    grid-column: 2 / 4;
    grid-row: 4 / 8;
}

#message-section {
    background-color: green;
    grid-column: 1 / 4;
    grid-row: 8 / 8;
}